#{extends 'main.html' /} 
#{set title:'Welcome to Spacebook' /} 

<div class="container-fluid">
  <div class="container">
    <div class="row home">
      <div class="hero-unit span5 offset3">
        <h2>Welcome to Spacebook!</h2>
        <div class="btn-toolbar offset1">
          <p><a href="/signup" class="btn btn-primary btn-large"> Signup</a><a href="/login" class="btn btn-primary btn-large">Login </a></p> 
        </div>
        <!--Reference: Google.ie-->
        <a href= "http://www.pcmag.com/article2/0,2817,2420790,00.asp">
          <img src="https://www.google.ie/logos/2013/first_day_of_summer_2013-1536005-hp.gif" alt="GoogleGif">
        </a>
        <p><a href="/policy">Spacebook Policy</a></p>
      </div>
    </div>
  </div>      
</div>