#{extends 'main.html' /}
#{set title:'Signup for Spacebook' /}
#{include 'nav/navopen.html' /}
  <li class="active"><a href="/signup">Signup</a></li>
  <li><a href="/login">Login</a></li>
#{include 'nav/navclose.html' /}

#{if !found}

<div class="container">
  <div class="row-fluid">
    <form class= "form well span4" action="/register" method="POST">
      <fieldset>
        <h3>Spacebook Signup</h3>
          <div class="control-group">
            <div class="controls">
              <label class="control-label">  First Name: </label>
                <input type="text" name="firstName" placeholder="Enter First Name" required>
              <label class="control-label">  Second Name:  </label>
                <input type="text" name="secondName" placeholder="Enter Second Name" required>
              <label class="control-label">  Email:      </label>
                <input type="text" name="email" placeholder="Enter Email Address" required>
              <label class="control-label">  Password:   </label> 
                <input type="password" name="password" placeholder="Enter Password" required>
              <label class="control-label">  Age:      </label>
                <select id="age" name="age">
                  <option value="18">18</option><option value="19">19</option><option value="20">20</option>
                  <option value="21">21</option><option value="22">22</option><option value="23">23</option>
                  <option value="24">24</option><option value="25">25</option><option value="26">26</option>
                  <option value="27">27</option><option value="28">28</option><option value="29">29</option>
                  <option value="30">30</option><option value="31">31</option><option value="32">32</option>
                  <option value="33">33</option><option value="34">34</option><option value="35">35</option>
                  <option value="36">36</option><option value="37">37</option><option value="38">38</option>
                  <option value="39">39</option><option value="40">40</option><option value="41">41</option>
                  <option value="42">42</option><option value="43">43</option><option value="44">44</option>
                  <option value="45">45</option><option value="46">46</option><option value="47">47</option>
                  <option value="48">48</option><option value="49">49</option><option value="50">50</option>
                  <option value="51">51</option><option value="52">52</option><option value="53">53</option>
                  <option value="54">54</option><option value="55">55</option><option value="56">56</option>
                  <option value="57">57</option><option value="58">58</option><option value="59">59</option>
                  <option value="60">60</option><option value="61">61</option><option value="62">62</option>
                  <option value="63">63</option><option value="64">64</option><option value="65">65</option>
                  <option value="66">66</option><option value="67">67</option><option value="68">68</option>
                  <option value="69">69</option><option value="70">70</option><option value="71">71</option>
                  <option value="72">72</option><option value="73">73</option><option value="74">74</option>
                  <option value="75">75</option><option value="76">76</option><option value="77">77</option>
                  <option value="78">78</option><option value="79">79</option>
                </select>
              <label class="control-label">  Nationality:   </label> 
                <input type="text" name="nationality" placeholder="Enter nationality" required>
              <label class="control-label">  Security question:      </label>
                <select id="securityQuestion" name="securityQuestion">
                  <option value="What was the name of your first stuffed animal?">What was the name of your first stuffed animal?</option>
                  <option value="What is your mother's middle name?">What is your mother's middle name?</option>
                  <option value="What was your childhood nickname?">What was your childhood nickname? </option>
                  <option value="What was your dream job as a child?">What was your dream job as a child?</option>
                  <option value="What is the name of your pet?">What is the name of your pet?</option>
                </select>
              <label class="control-label">  Answer:      </label>
                <input type="password" name="answer" placeholder="Enter answer" required>
            </div>    
            <button type="submit" class="btn btn-primary"> Signup  </button><hr>
            <p class="text-info">
              You will be logged into your account automatically upon entering Signup button 
              if your registration has been successful.
            </p>
          </div> 
        </fieldset>
      </form>
    #{/if}
    #{else }
      <div class="alert alert-error offset2">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h2><strong>Registration Failed!</strong></h2> Email you are trying to use has already been taken.
        <h2><a href="/signup"> Please try again</a></h2>
      </div>
    #{/else}
  </div>
</div>
  